@import "tailwindcss";

::selection {
    background: #FFF;
    color: #2a2a2d;
}

html {
    color: #FFF;
}

.hero-background {
  background: radial-gradient(circle at top, #0f1f2a 35%, #0d0d0e 60%) center / cover no-repeat fixed;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

.hero-background-2 {
    background: linear-gradient(#0d0d0e 15%, #0d0d0e00 65%);
    height: 100px;
    top: 0;
}

.text-color {
    color: #B2B2B2;
}

.bg-black-opacity-40 {
    background-color: #0000004d;
}